<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
      <title>Backbone.js Example</title>

      <!-- ライブラリの読み込み -->
      <script src="src/lib/jquery-1.11.2.js"></script>
      <script src="src/lib/underscore.js"></script>
      <script src="src/lib/backbone.js"></script>

      <!-- 自分が書いたコードの読み込み -->
      <script src="src/js/main.js"></script>

      <script type="text/template" id="contact-template">
        <div>Name:<%= firstName %><%= lastName %></div>
        <div>Email:<%= email %></div>
      </script>

  </head>
  <body>
  </body>
</html>
    
